{
    "presets": ["@babel/preset-env"],
    "plugins": [
        ["@babel/plugin-transform-modules-commonjs", {
            "noMangle": true
        }],
        ["transform-react-jsx", {
            "pragma": "m"
        }]
    ]
}